<h1>Reactive form Demo</h1>
<div class="container" >
  <form [formGroup]="customer" (ngSubmit)="onSubmit()" >
    <div class="form-group" >
      <label>First Name</label>
      <input formControlName="firstname" type="text" placeholder="Enter First Name" class="form-control" >
    </div>
    <div class="form-group" >
        <label>Last Name</label>
        <input formControlName="lastname" type="text" placeholder="Enter Last Name" class="form-control" >
      </div>
      <div class="form-group" >
      <button type="submit" class="form-control  btn btn-primary"  >Save</button>
      </div>
  </form>
</div>
